canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

img.profile {
  width: 250px;
  height: 280px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position:fixed;
}
